# Homework 0

In this homework you will complete a couple of simple exercises in order to show your understanding with Python. If these exercises are challenging or new to you, you may want to reconsider taking the class and/or brush up on your Python skills. For the following exercises you are not allowed to use any Python packages (i.e. Numpy, Pandas, etc.).

### Lists

Create an empty Python list called 'a' in the cell below.

In [6]:
a = []
a

[]

Store all values between 1-100 (inclusive) with increments of 3 (i.e. 1, 4, 7...) in 'a'.

In [7]:
a = list(range(1,101,3))
print(a)

[1, 4, 7, 10, 13, 16, 19, 22, 25, 28, 31, 34, 37, 40, 43, 46, 49, 52, 55, 58, 61, 64, 67, 70, 73, 76, 79, 82, 85, 88, 91, 94, 97, 100]

Create another list called 'a2' with numbers from 2-46 (inclusive) with increments of 0.5 (i.e. 2, 2.5, 3...).

In [9]:
a2 = list(range(4,93,1))
a2 = [x/2 for x in a2]
print(a2)

[2.0, 2.5, 3.0, 3.5, 4.0, 4.5, 5.0, 5.5, 6.0, 6.5, 7.0, 7.5, 8.0, 8.5, 9.0, 9.5, 10.0, 10.5, 11.0, 11.5, 12.0, 12.5, 13.0, 13.5, 14.0, 14.5, 15.0, 15.5, 16.0, 16.5, 17.0, 17.5, 18.0, 18.5, 19.0, 19.5, 20.0, 20.5, 21.0, 21.5, 22.0, 22.5, 23.0, 23.5, 24.0, 24.5, 25.0, 25.5, 26.0, 26.5, 27.0, 27.5, 28.0, 28.5, 29.0, 29.5, 30.0, 30.5, 31.0, 31.5, 32.0, 32.5, 33.0, 33.5, 34.0, 34.5, 35.0, 35.5, 36.0, 36.5, 37.0, 37.5, 38.0, 38.5, 39.0, 39.5, 40.0, 40.5, 41.0, 41.5, 42.0, 42.5, 43.0, 43.5, 44.0, 44.5, 45.0, 45.5, 46.0]

Double every even integer element from list 'a'. Store the results back in 'a'.

In [10]:
for i,x in enumerate(a):
 if x%2 == 0:
     a[i] = a[i] * 2
print(a)

[1, 8, 7, 20, 13, 32, 19, 44, 25, 56, 31, 68, 37, 80, 43, 92, 49, 104, 55, 116, 61, 128, 67, 140, 73, 152, 79, 164, 85, 176, 91, 188, 97, 200]

Add all numbers in 'a' except for the 2nd and 21st elements (the 2nd element here means the element at list index 1).

In [13]:
asum=0
for i,x in enumerate(a):
    if i!=1 and i!=20:
        asum = asum + a[i]
print(asum)

2532

Calculate the mean of 'a'.

In [18]:
total = 0
for i,x in enumerate(a):
    total = total + x
print(total)
mean = total/len(a)
mean

2601

76.5

### Strings

Create an empty list called 'b'.

In [55]:
b = list()
print(b)

[]

Store the words in the sentence below as elements into the list 'b'.  

'I am so excited about Data-X. It is important to be able to work with data.'

In [57]:
complete_sentence = 'I am so excited about Data-X. It is important to be able to work with data.'
b = complete_sentence.split()
print(b)

['I', 'am', 'so', 'excited', 'about', 'Data-X.', 'It', 'is', 'important', 'to', 'be', 'able', 'to', 'work', 'with', 'data.']

Return the count of the occurences of the lower-case letter 'e' in the list 'b'.

In [58]:
b_full = ('*'.join(b))
print(b_full)
b_e = b_full.count('e')
print(b_e)

I*am*so*excited*about*Data-X.*It*is*important*to*be*able*to*work*with*data.
4

Replace every lower- or upper-case letter 'i' in the list b with a '1'.

In [60]:
b2 = list(b_full)
print(b2)
for i,x in enumerate(b2):
 if x == 'i' or x== 'I':
     b2[i] = '1'

 if x == '*':
     b2[i] = ' '
print(b)
b_full = (''.join(b2))
b = b_full.split(' ')
print(b)

['I', '*', 'a', 'm', '*', 's', 'o', '*', 'e', 'x', 'c', 'i', 't', 'e', 'd', '*', 'a', 'b', 'o', 'u', 't', '*', 'D', 'a', 't', 'a', '-', 'X', '.', '*', 'I', 't', '*', 'i', 's', '*', 'i', 'm', 'p', 'o', 'r', 't', 'a', 'n', 't', '*', 't', 'o', '*', 'b', 'e', '*', 'a', 'b', 'l', 'e', '*', 't', 'o', '*', 'w', 'o', 'r', 'k', '*', 'w', 'i', 't', 'h', '*', 'd', 'a', 't', 'a', '.']
['I', 'am', 'so', 'excited', 'about', 'Data-X.', 'It', 'is', 'important', 'to', 'be', 'able', 'to', 'work', 'with', 'data.']
['1', 'am', 'so', 'exc1ted', 'about', 'Data-X.', '1t', '1s', '1mportant', 'to', 'be', 'able', 'to', 'work', 'w1th', 'data.']

Append the string "This is the end of the first HW." to the list 'b'.

In [61]:
ns = "This is the end of the first HW"
ns1 = ns.split(' ')
print(ns1)
for x in ns1:
 b.append(x)
print(b)

['This', 'is', 'the', 'end', 'of', 'the', 'first', 'HW']
['1', 'am', 'so', 'exc1ted', 'about', 'Data-X.', '1t', '1s', '1mportant', 'to', 'be', 'able', 'to', 'work', 'w1th', 'data.', 'This', 'is', 'the', 'end', 'of', 'the', 'first', 'HW']

Print 'b' as ONE string backwards (starting with "WH tsrif...").

In [62]:
b_3 = (' '.join(b))
print(b_3)
b = b_3[::-1]
print (type(b))
print(b)

1 am so exc1ted about Data-X. 1t 1s 1mportant to be able to work w1th data. This is the end of the first HW
<class 'str'>
WH tsrif eht fo dne eht si sihT .atad ht1w krow ot elba eb ot tnatropm1 s1 t1 .X-ataD tuoba det1cxe os ma 1

### Dictionaries

Put the following in a dictionary called 'codes':

Keys: 1001, 1002, 1003, 1004, 1005   
Values: 'Alpha', Beta, 'Gamma, 'Delta', 'Tau'

then traverse the dictionary by its keys and change every value to be all lower case.

In [78]:
codes=dict([(1001,'Alpha'),(1002,'Beta'),(1003,'Gamma'),(1004,'Delta'),(1005,'Tau')])
list(codes.keys())
codes1= {k:v.lower() for k, v in codes.items()}
codes1

{1001: 'alpha', 1002: 'beta', 1003: 'gamma', 1004: 'delta', 1005: 'tau'}

Delete 'alpha' from the dictionary.

In [82]:
for k,v in codes1.items():
    if v =='alpha':
        del codes1[k]
print(codes1)
#del codes[1001]
#codes

{1002: 'beta', 1003: 'gamma', 1004: 'delta', 1005: 'tau'}

### Sets

Create a set called 'c' with the all the odd numbers less than 10.

In [50]:
c = {1,3,5,7,9}
print(c)

{1, 3, 5, 7, 9}

Create another set called 'd' with elements 2, 5, 10, 30.

In [51]:
d = {2,5,10,30}
print(d)

{2, 10, 5, 30}

Find the union between sets 'c' and 'd' and store this in a new set called 'e'.

In [52]:
e = c|d
print(e)

{1, 2, 3, 5, 7, 9, 10, 30}

Find the intersection between sets 'c' and 'd'.

In [54]:
print(c&d)

{5}